<div class="about container d-flex flex-column justify-content-between">
    <div class="row justify-content-between">
        <h2 class="col ">Nahuel Coronel</h2>    
        <button class="btn btn-primary col-3" (click)="irTask()">Ver tareas</button>
    </div>
    <div class="row justify-content-between  mt-3">
        <div class="col-3 imgContainer border border-2 rounded-circle d-flex justify-content-center align-items-center">
            <img class="imagen" src="./../../../assets/fotoAbout.jpg">
        </div>
        <div class="col d-flex flex-row justify-content-between align-items-end">
            <div class="">
                <a href="#"><i class="bx bxl-github bx-lg text-dark bx-flashing-hover"></i></a>
            </div>
            <div class="">
                <a href="#"><i class="bx bxl-linkedin bx-lg bx-flashing-hover"></i></a>
            </div>
            <div class="">
                <a href="#"><i class="bx bxl-instagram bx-lg  bx-flashing-hover"></i></a>
            </div>
            <div class="">
                <a href="#"><i class="bx bxl-twitter bx-lg bx-flashing-hover"></i></a>
            </div>
        </div>
    </div>
    
</div>
