<form [formGroup]="manejarTareas" class="container border border-3 rounded p-3">
    <div>
        <label for="tituloTarea" class="form-label">Titulo de la tarea:</label>
        <input type="text" class="form-control" id="tituloTarea" formControlName="titulo">
    </div>
    <div  *ngIf="Titulo?.hasError('required') && Titulo?.touched" id="cartelError" class="form-text text-danger">
        El titulo es requerido
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <label for="anioLimite" class="form-label">Año:</label>
            <input type="number" class="form-control" id="anioLimite" formControlName="anioLimite">
            <div *ngIf="Anio?.errors && (editar||Anio?.touched)">
                <div *ngIf="Anio?.hasError('required')" class="form-text text-danger">
                    El año es requerido
                </div>
                <div *ngIf="Anio?.hasError('min')" class="form-text text-danger">
                    El año debe ser mayor a {{fechaActual.getAnio()}}
                </div>
                
            </div>
        </div>
        <div class="col-4">
            <label for="mesLimite" class="form-label">Mes:</label>
            <input type="number" class="form-control" id="mesLimite" formControlName="mesLimite"(blur)="actualizaDiasMaximos()" > 
            <div *ngIf="(editar||Mes?.touched) && (Mes?.errors || !mesValido(Mes?.value,Anio?.value) )" >
                <div *ngIf="Mes?.hasError('required')" class="form-text text-danger">
                    El mes es requerido
                </div>
                <div *ngIf="Mes?.hasError('min')" class="form-text text-danger">
                    El mes debe ser mayor a 1
                </div>
                <div *ngIf="!mesValido(Mes?.value,Anio?.value)" class="form-text text-danger">
                    El mes debe ser mayor a {{fechaActual.getMes()}}
                </div>
                <div *ngIf="Mes?.hasError('max')" class="form-text text-danger">
                    El mes debe ser menor a 12
                </div>
            </div>
        </div>
        <div class="col-4">
            <label for="diaLimite" class="form-label">Dia:</label>
            <input type="number" class="form-control" id="diaLimite" formControlName="diaLimite" > 
            <div *ngIf="(editar||Dia?.touched)&&((Dia?.errors)||(Dia?.value>diasMaximos) || (!diaValido(Dia?.value,Mes?.value,Anio?.value)))">
                <div *ngIf="Dia?.hasError('required')" class="form-text text-danger">
                    El dia es requerido
                </div>
                <div *ngIf="Dia?.hasError('min')" class="form-text text-danger">
                    El dia debe ser mayor a 1
                </div>
                <div *ngIf="Dia?.value>diasMaximos" class="form-text text-danger"> 
                    El dia debe ser menor a {{diasMaximos}}
                </div>
                <div *ngIf="!diaValido(Dia?.value,Mes?.value,Anio?.value)" class="form-text text-danger"> 
                    El dia debe ser mayor a {{fechaActual.getDia()}}
                </div>
                <!--
                    NOTA: Esta forma para validar los dias maximos esta ya que este se asigna dinamicamente dependiendo de lo que se ingrese en mes
                            Al el Validator estar en el constructor, toma solamente el valor inicial de diasMaximos, lo cual da error, ya que este varia
                -->
            </div>
        </div>        
    </div>
    <div class="form-check form-switch mt-3">
        <input class="form-check-input" type="checkbox" role="switch" id="remind"  (click)="actualizaReminder()" [checked]="reminder" formControlName="recordatorio">
        <label class="form-check-label" for="remind">Reminder</label>
        {{reminder}}

    </div>
    
        
    <div>
        <button *ngIf="editar" type="submit" (click)="modificar($event)" class="btn btn-primary mt-3">Editar</button>
        <button *ngIf="!editar"type="submit" (click)="agregar($event)" class="btn btn-success mt-3">Agregar</button>
    </div>

</form>
