<header class="row justify-content-between mb-2">
    <div class="col">
      <h1 >My Task List</h1>
      <p>{{fechaActual.getFullDateString()}}</p>
    </div>  
    <div class="col d-flex justify-content-end align-items-start">
      <button  *ngIf="!formActivado" class=" btn btn-lg btn-success w-auto" (click)="mostrarAddTask()">Agregar Tarea</button>
      <button  *ngIf="formActivado"  class=" btn btn-lg btn-danger w-auto" (click)="cerrarAddTask()">Cerrar</button>
    </div>    
    
</header >