<div [@open-deleted]="estadoAnimTask ==1 ?'noExiste':estadoAnimTask ==2?'open':'deleted'" class="container relativo py-2 d-flex flex-column justify-content-center mt-2  bg-light" [ngClass]="{'border border-3 border-top-0 border-end-0 border-bottom-0 rounded border-warning':unaTarea.reminder}">
  
    <div class="row justify-content-around ">
        
        <div   class="col-9 justify-content-start"> 
            <h3 class="d-inline-block">{{unaTarea.titulo}}</h3>
        </div>
        <div  class="col-3">
        <i  class="bx bxs-trash bx-md bx-tada-hover text-danger" (click)="eliminaTarea()"></i>
        <i class="bx bxs-edit bx-md bx-tada-hover text-primary" (click)="cargaEditar()"></i>
        </div>
    </div>
    <p class="mb-0" >Hasta: {{fechaLimite.getFullDateString()}} </p>
    <p  *ngIf="unaTarea.reminder"  class="m-0 p-0">Vencimiento en: <span [ngClass]="{'text-danger':fechaLimite.diasDiferencia()<0,'text-warning':fechaLimite.diasDiferencia()>=0}"> {{fechaLimite.diasDiferencia()}} dias</span></p>
</div>
