#contenedor{
    background-color: white;
    min-width:600px;
}
.animacion{
    transform: translateY(100%);
    transition:transform ease-out 0.7s;
    
}
.animacion.abierta{
    transform:translateY(0);
}
