
  <div class="container p-3  mb-3 border border-3 border-dark rounded" id="contenedor">
    <div class="row justify-content-between mb-2">
      <h1 class="col">My Task List</h1>
      <div class="col d-flex justify-content-end">
        <button  *ngIf="!formActivado" class=" btn btn-lg btn-success w-auto" (click)="mostrarAddTask()">Agregar Tarea</button>
        <button   *ngIf="formActivado" class=" btn btn-lg btn-danger w-auto" (click)="cerrarAddTask()">Cerrar</button>
      </div>    
    </div >
    <router-outlet *ngIf="formActivado" id="routerOutlet"></router-outlet> 
    <div class="mt-3">
        <app-tarea *ngFor="let tarea of tareas; let i=index" [unaTarea]="tarea" [index]="i" (clickEditar)="editarTarea($event)"></app-tarea>

    </div>
  </div>
