#contenedor{
    background-color: white;
    min-width:600px;
}
.form-container{
    animation-name:aparecer;
    animation-duration:2s;
    
}
@keyframes aparecer{
    0%{
        height:0%;
    }
    100%{
        height:100%;
    }
}